<div class="row">
  <aside class="col-sm-4">
    <h2>#MY PAGE</h2>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
      <%= link_to "LE'TS POST!!", '/posts/new', class: "btn btn-secondary" %>
      </div>
    </div>
 </aside>
  <div class="col-sm-8">
    <ul>
      <h2>MY STYLE</h2>
        <% @posts.each do |post| %>
         <div><%= image_tag post.image.url, size: '200x300' %></div>
         <div>TITLE:<%= post.title %></div>
         <div>TEXT:<%= post.text %></div>
        <% end %>
    </ul>
    <%= paginate @posts %>
  </div>
</div>