<div class="row">
  <aside class="col-sm-4">
    <h2>#MY PAGE</h2>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
      <%= link_to "LE'TS POST!!", '/posts/new', class: "btn btn-secondary" %>
      </div>
    </div>
 </aside>
 <link rel="stylesheet" href="image">
  <div class="col-sm-8">
      <h2>MY STYLE</h2>
        <% @posts.each do |post| %>
         <div><%= image_tag post.image.url, alt: "styleimage" %></div>
         <div>TITLE:<%= post.title %></div>
         <div>TEXT:<%= post.text.truncate(20) %></div>
        <% end %>
    <%= paginate @posts %>
  </div>
</div>