<% if logged_in? %>
    <h2 style="text-align:center">HAIR STYLE PHOTO LIST</h2>
    <link rel="stylesheet" href="image">

    <h3>#HOT STYLE</h3>
    <div class="row">
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div class="col-md-4">
          <div><%= image_tag post.image.url, alt: "styleimage" if post.image.present? %></div>
          <div>TITLE:<%= post.title.truncate(20) %></div>
          <div>TEXT:<%= post.text.truncate(20) %></div>

          <div>
          <% if current_user == post.user %>
            <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
          </div>
        </div>
      <% end %>
      <%= paginate @posts %>
    </div>
    
    <% else %>
      <h3>投稿された画像はありません。</h3>
    <% end %>
    
<% else %>
    <div class="text-center">
      <h1>Welcome to the STYLE SHARE!!</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-secondary' %>
    </div>
<% end %>