<% if logged_in? %>
<h2 style="text-align:center">STYLE SHARE</h2>

<h3>#HOT STYLE</h3>
<div class="row">
  <% @posts.each do |post| %>
  <div class="col-md-4">
    <div><%= image_tag post.image.url, size: '200x300' if post.image.present? %></div>
    <div>TITLE:<%= post.title %></div>
    <div>TEXT:<%= post.text %></div>

    <div>
      <% if current_user == post.user %>
      <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
  </div>
  <% end %>
  <%= paginate @posts %>
</div>
  

<% else %>
    <div class="text-center">
      <h1>Welcome to the STYLE SHARE!!</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-secondary' %>
    </div>
<% end %>