<%= form_with(model: post, local: true) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
      　　<% post.errors.full_messages.each do |message| %>
        　　<li><%= message %></li>
      　　<% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image, 'image' %>
    <%= f.file_field :image %>
  </div>
  
  <div class="form-group">
    <%= f.label :title, 'title' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :text, 'text' %>
    <%= f.text_field :text, class: 'form-control' %>
  </div>
  
  <%= f.submit 'POST', class: 'btn btn-secondary' %>

<% end %>
